<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Yo</h1>
    <p th:text = "${message}"></p>
    <p th:text = "${chiffre}"></p>
    <p th:if = "${chiffre > 5}">Greater than 5</p>
</body>
</html>