<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <div th:each="loopin : ${list}">
        <h3 th:th:text="${loopin.title}"></h3>
        <p th:text="${loopin.content}"></p>
    </div>
    
    <form th:action="@{/todo}" method="post">
        <label for="title">Title :</label>
        <input type="text" id="title" th:field="${postIt.title}">
        <label for="content">Content :</label>
        <textarea id="content" th:field="${postIt.content}"></textarea>
        <button>Submit</button>

    </form>



</body>

</html>